@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.icon-3 {
  @apply h-3 w-3;
}

.icon-4 {
  @apply w-4 h-4;
}

.icon-5 {
  @apply w-5 h-5;
}

.icon-6 {
  @apply w-6 h-6;
}

.icon-7 {
  @apply w-7 h-7;
}

.icon-8 {
  @apply w-8 h-8;
}

.header-wrapper {
  @apply flex h-16 w-full justify-end py-4 px-6;
}

.header-contents {
  @apply flex gap-x-3 items-center;
}

.header-button {
  @apply bg-gray-200 rounded-full p-[6px];
}

.sidebar {
  @apply sr-only lg:not-sr-only;
}

.sidebar-contents {
  @apply md:w-0 lg:w-64 bg-slate-800 h-screen lg:p-4 flex ease-out duration-200 flex-col relative;
}

.sidebar-list-item-wrapper {
  @apply flex flex-col gap-y-4 items-center;
}

.sidebar-list-item {
  @apply lg:w-[200px] flex items-center justify-between;
}

.sidebar-list-main-title {
  @apply pl-3 pb-3 text-slate-400 text-sm;
}

.sidebar-list-item-title {
  @apply flex items-center gap-x-3;
}

.sidebar-icon-wrapper-base {
  @apply flex;
}

.sidebar-home-icon-wrapper {
  @apply sidebar-icon-wrapper-base text-indigo-500 mb-10 flex items-start pl-3;
}

.sidebar-main-icon-wrapper {
  @apply sidebar-icon-wrapper-base text-indigo-500;
}

.sidebar-icon-wrapper {
  @apply sidebar-icon-wrapper-base text-slate-400;
}

.sidebar-list-item-text {
  @apply text-slate-200 text-sm sr-only lg:not-sr-only;
}

.sidebar-icon-open-close {
  @apply text-slate-400 flex items-center sr-only lg:not-sr-only;
}
